<html><head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Visualizer</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style type="text/css">
        body { background: #000000 !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
    </style>
</head>
<body class="">
<div id="container" class="container">
        <div id="pageContent" class="pageContent text-center">
            <div class="col-md-1"></div>
                <div class="col-md-10"><h3 style="margin-top: 0px;"><span style="color: #FFFFFF;">Drag your file</span></h3>
                    <h4><a href="performance.html">Go to performance plot</a></h4>
                </div>
            <div id="displayArea" class="col-sm-12 text-center"><div class="row">

            </div>
                <canvas width="703" height="527" style="cursor: inherit;"></canvas><br>
            </div>

        </div>
    </div>

    <br>
    <div class="container text-center">
        <div class="row">
            <ul class="list-group">
            {%- for item in tree.children recursive %}
                <li class="list-group-item list-group-item-success" id="{{item.path}}"> {{ item.name }} </li>
            {%- endfor %}
            </ul>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.2/lodash.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://pixijs.download/v4.5.6/pixi.min.js"></script>
    <script src="static/parsereplay.js"></script>
    <script src="static/visualizer.js"></script>
    <script src="static/localVisualizer.js"></script>


</body></html>